@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

@mixin equal-padding ($x) {
    padding: $x $x $x $x;
}

$background: #00b894;
$container: #55efc4;
$font: 'Bebas Neue', cursive;
$font-area: 'Roboto Mono', monospace;

body {
    background-color: $background;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font;
}

.markdown-container {
    position: relative;
    max-width: 80vw;
    max-height: 100vh;
    background-color: white;
    background: $background;
    margin-top: 10em;

    textarea {
        width: 100%;
        height: 60vh;
    }
}

.container {
    border: 1px solid black;
    background: $container;
    @include equal-padding(50px);
}

.tech-text {
    font-family: $font-area;
}

.container-title {
    padding: 0 0 20px 0;
}

#preview {
    width: 100%;
    height: 60vh;
    background-color: white;
    @include equal-padding(30px);
}