@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

@mixin equal-padding ($x) {
    padding: $x $x $x $x;
}

@mixin equal-margin ($x) {
    margin: $x $x $x $x;
}

$background: #00b894;
$container: #55efc4;
$font: 'Bebas Neue', cursive;
$font-area: 'Roboto Mono', monospace;

body {
    background-color: $background;
}

.App {
    display: flex;
    align-items: center;
    font-family: $font;

    div {

        div {
            @include equal-margin(10px)
        }
        
    }
}

.markdown-container {
    position: relative;
    max-width: 60vw;
    max-height: 80vh;
    background-color: white;
    background: $background;
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.container-textfield {
    border: 1px solid black;
    background: $container;
    @include equal-padding(50px);
    font-size: 20px;
    width: 40vw;

    textarea {
        resize: vertical; 
        max-height: 1000px; 
        min-height: 300px;
    }

}

.container-preview {
    display: flex;
    border: 1px solid black;
    background: $container;
    @include equal-padding(50px);
    font-size: 20px;

    #preview {
        width: 100%;
        height: fit-content;
        background-color: white;
        @include equal-padding(30px);
        
        img {
            max-height: 20%;
            max-width: 20%;
            margin: auto;
        }

        blockquote {
            text-indent: 50px;
            font-size: 24px;
        }
    }
}



.tech-text {
    font-family: $font-area;
}

.container-title {
    padding: 0 0 20px 0;
}

#preview {
    width: 100%;
    height: fit-content;
    background-color: white;
    @include equal-padding(30px);
    
    img {
        display: block;
        max-width: 90%;
        margin: 2rem auto;
    }
}